  *{
  margin: 0px;
  padding: 0px;
}

html{
  font-size: 10px;
  font-family: "Fuente1" , helvetica;
}
body{
  background: url(../imagenes/textura1.png);
  background-color: rgba(220, 220, 220, 0.9);
}


/*generando fuentes*/
@font-face {
  font-family: "Fuente1";
  src: url("../fuentes/fuente1.ttf");
}
@font-face {
  font-family: "Fuente2";
  src: url("../fuentes/fuente2.ttf");
}
@font-face {
  font-family: "Fuente3";
  src: url("../fuentes/fuente3.ttf");
}
@font-face {
  font-family: "Fuente4";
  src: url("../fuentes/fuente4.ttf");
}

/*Barra de arriba de todo */
#barraestado{
  background: rgba(30, 30, 30, 0.7);
  width: 100%;
  height: 4em;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}
#barraestado img{
  margin-top: 0.4em;
}
#barraestado h1{
  font-family: "Fuente4";
  font-size: 5em;
  margin-left: 1%;
}
#barraestado #login , #barraestado #twitter , #barraestado #fb , #barraestado #numero ,#barraestado #contacto{

  width: 15%;
  height: 3.5em;
  list-style: none;
}
#barraestado #login p, #barraestado #twitter p, #barraestado #fb p, #barraestado #numero p,#barraestado #contacto p{
  text-align: left;
  font-size: 1.6em;
  color: white;
  font-family: calibri,verdana;
  margin-top: -2em;
  margin-left: 17%;
}
#barraestado #login:hover, #barraestado #twitter:hover, #barraestado #fb:hover, #barraestado #numero:hover , #barraestado #contacto:hover{
  background: url(../imagenes/textura4.png);
  background-color: rgba(212, 89, 95, 0.7);
}
#barraestado #contacto{
  margin-left: 0.5%;
  margin-top: -0.5em;
}
#barraestado #numero{
  margin-top: -3.5em;
  margin-left: 16%;
}
#barraestado #fb{
  margin-top: -3.5em;
  margin-left: 31.5%;
}
#barraestado #twitter{
  margin-top: -3.5em;
  margin-left: 47%;
  width: 20%;
}
#barraestado #login{
  margin-top: -3.5em;
  margin-left: 84.5%;
  width: 15%;
}

/*Cuerpo de la pagina*/
#contenedor1{
  margin: auto;
  margin-top: 1%;
  height: auto;
  background-color: white;
  border-top-left-radius: 0.35em;
  border-top-right-radius: 0.35em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*sombra*/
}

#contenedor1 , #cabeza{
  width: 80%;
  max-width: 130em;
  margin-top: 0;
}

/*titulo */
#cabeza{
  margin: auto;
  margin-top: 0.5em;
  overflow: hidden;
}
#cabeza #titulo h1{
  font-size: 7.7em;
  margin-top: -0.2em;
  font-family: "fuente2" , verdana;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.05em;
}
#cabeza #titulo h2{
  font-size: 10em;
  margin-top: -0.9em;
  margin-left: 3.4em;
  color: rgba(255, 255, 255, 0.8);
  font-family: "fuente3" , calibri, helvetica;
}
#cabeza #buscador{
  float: right;
  margin-top: -4.2em;
  width: 15%;
  max-width: 20em;
  height: 4em;
  background-color: white;
  border-top-left-radius: 0.35em;
  border-top-right-radius: 0.35em;
}
#cabeza #buscador img{
  float: right;
  width: 25%;
  height: 4em;
  background-color: black;
  position: relative;
  border-top-right-radius: 0.35em;
}
#cabeza #buscador #input1{
  height: 4em;
  width: 73%;
  max-width: 14.5em;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding-left: 2%;
  border-top-left-radius: 0.35em;
}

/*Un espacio separador*/
#separador{
  height: 1em;
  width: 100%;
}

/*Menu */
#menu{
  width: 100%;
  height: 5em;
  background-image: url(../imagenes/textura2.png);
  background-color: black;
  margin-top: 1em;
  margin-bottom: 1em;
  border-top-left-radius: 0.35em;
  border-top-right-radius: 0.35em;
  color: white;
}
#menu #inicio , #menu #tienda , #menu #catalogo , #menu #sala , #consultas{
  background: url(../imagenes/textura4.png);
  background-color: rgba(212, 89, 95, 1);
  width: 10%;
  height: 3.5em;
  list-style: none;
}
#menu #inicio p, #menu #tienda p, #menu #catalogo p, #menu #sala p , #menu #consultas p{
  text-align: center;
  padding-top: 0.4em;
  font-size: 1.6em;
  color: white;
  font-family: calibri,verdana;
}
#menu #inicio:hover, #menu #tienda:hover, #menu #catalogo:hover, #menu #sala:hover , #menu #consultas:hover{
  background: url(../imagenes/textura4.png);
  background-color: rgba(212, 89, 95, 0.7);
}
#menu #inicio{
  margin-left: 0.9%;
  margin-top: -0.5em;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
}
#menu #tienda{
  margin-top: -3.5em;
  margin-left: 11.1%;
}
#menu #catalogo{
  margin-top: -3.5em;
  margin-left: 21.3%;
}
#menu #sala{
  margin-top: -3.5em;
  margin-left: 31.5%;
}
#menu #consultas{
  margin-top: -3.5em;
  margin-left: 41.7%;
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}
/*Espacio grande con un juego*/
#masvendido{
  margin-left: 1%;
  width: 45%;
  max-width: 58em;
  height: 32.6em;
}
#masvendido #fondo img, #masvendido #fondo{
  width: 100%;
  height: 32.6em;
}
#masvendido #fondo img{
  margin-top: -7.3em;
}
#masvendido #fondo #gif{
  width: 12%;
  height: 6em;
  margin-top: 1em;
  position: relative;
  z-index: 1;
  box-shadow: 0px 13px 21px -10px rgba(0, 0, 0, 0);
}
#masvendido #footer{
  width: 100%;
  height: 8em;
  margin-top: -8em;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#masvendido #carrito {
  width: 8%;
  height: 8em;
  margin-top: -8em;
  margin-left: 85%;
  position: relative;
  z-index: 2;
}
#masvendido #carrito img{
  width:4em;
  height: 3.5em;
  margin-top: 2em;
}
#masvendido #footer h2 , #masvendido #footer h1{
  margin-left: 1%;
  font-size: 1.7em;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
#masvendido #footer h2{
  margin-top: 0.5em;
  font-size: 2.2em;
}
#masvendido:hover{
  -webkit-box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
  box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
}
/*tabla mas pequeña con otros juegos */
#nuevos{
  margin-top: -32.6em;
  margin-right: 1%;
  width: 53%;
  margin-left: 46.4%;
  height: 33em;
  background: rgba(255, 25, 63, 0);
  overflow: hidden;
}
#nuevos ul{
  list-style-type: none;
}
#nuevos ul li{
  display: inline-block;
  width: 32.6%;
  max-height: 33em;
  margin-bottom: 0.4em;
}
#nuevos img{
  width: 100%;
  height: 16em;
}
#nuevos #hover{
  height: 16em;
}
#nuevos #gif{
  width: 15%;
  height: 1.5em;
  float: left;
  z-index: 1000;
  position: relative;
  margin-top: -14em;
  margin-left: 1%;
}
#nuevos p{
  color: white;
  font-size: 1.3em;
  font-weight: normal;
  font-variant: small-caps;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  text-align: right;
  margin-right: 2%;
  margin-top: -2em;
}
#nuevos p:hover{
  color: rgba(220, 0, 0, 0.9);
}

#nuevos #hover:hover{
  -webkit-box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
  box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
}

/*tipos de pedido */
#pedidos{
  margin: 1%;
  height: 13.2em;
}
#pedidos .fisico h1 , #pedidos .online h1 , #pedidos .promos h1{
  margin-left: 1%;
  margin-top: -2em;
}
#pedidos .online:hover , #pedidos .fisico:hover , #pedidos .promos:hover{
  border: 0.2em solid rgba(255, 0, 0, 0.6);
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 0;
  padding-right: 0;
}
#pedidos .online , #pedidos .fisico , #pedidos .promos {
  width: 32%;
  background-image: url(../imagenes/textura3.png);
  background-color: black;
  border-radius: 0.5em;
  padding: 0.2em;
  color: white;
}
#pedidos .online{
  height: 9em;
  list-style-image: url(../imagenes/online.png);
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 2.5em;
}
#pedidos .fisico{
  height: 9em;
  margin-left: 33.8%;
  margin-top: -11em;
  list-style-image: url(../imagenes/envio.png);
  line-height: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
#pedidos .promos{
  height: 9em;
  margin-left: 67.6%;
  margin-top: -11em;
  list-style-image: url(../imagenes/promos.png);
  line-height: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
#pedidos ul{
  text-align: center;
  list-style-position: inside;
}
#pedidos li{
  color: white;
}
#pedidos li h1 {
  font-size: 1.6em;
}
#pedidos li h2 {
  font-size: 1.3em;
  font-weight: normal;
}

/*novedades */
#novedadestitulo{
  width: 97.8%;
  max-width: 128em;
  margin-left: 1%;
  margin-top: -2em;
  height: 4em;
  background-image: url(../imagenes/textura2.png);
  background-color: black;
}
#novedadestitulo h1{
  color: white;
  line-height: 2.5em;
  padding-left: 1em;
  font-size: 1.5em;
}
#novedadescajon{
  width: 97.8%;
  max-width: 128em;
  margin-left: 1%;
  margin-top: 0.5em;
  max-height: 35em;
  background-color: rgba(200, 200, 200, 1);
  overflow:scroll;
}
#novedadescajon p{
  padding: 1%;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  line-height: 2em;
}

/* Mi nombre abajo de todo */
#marca{
  text-align: center;
  color: white;
  font-weight: normal;
  font-variant: small-caps;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  margin-bottom: 1em;
}

/* Pagina extendida de juego */
#extendidaJuego #fotomayor{
  background: black;
  width: 65%;
  height: 40em;
  margin-top: 1em;
  margin-left: 1%;
}
#extendidaJuego #fotomayor video{
  width: 100%;
  height: 40em;
}
#extendidaJuego #fotomayor img{
  width: 100%;
  height: 40em;
}
#extendidaJuego #caracteristicas{
  background-color: rgba(200, 200, 200, 1);
  width: 32%;
  height: 37em;
  margin-top: 1em;
  margin-left: 67%;
  overflow: hidden;
}
#extendidaJuego #caracteristicas table{
  font-family: calibri , verdana;
  font-size: 1.5em;
  text-align: left;
  margin: 2% 5% 0 5%;
  line-height: 1.6em;
  border-collapse:separate;
  border-spacing:0.1em;
}
#extendidaJuego #portada{
  width: 32%;
  height: 20em;
  margin-left: 67%;
  margin-top: -40em;
  margin-right: 1%;
}
#extendidaJuego #portada img{
  width: 100%;
  height: inherit;
}
#extendidaJuego #fotomenor{
  width: 65%;
  height: 17em;
  margin-top: -17em;
  margin-left: 1%;
}
#extendidaJuego #fotomenor ul{
  list-style-type: none;
}
#extendidaJuego #fotomenor ul li{
  display: inline-block;
  width: 33%;
  height: 17em;
  margin-bottom: 0.4em;
}
#extendidaJuego #fotomenor img{
  width: 100%;
  height: 17em;
}
#extendidaJuego #comprar{
  width: 98%;
  margin-left: 1%;
  margin-top: 1em;
  height: 10em;
  background-color: rgba(200, 200, 200, 1);
}
#extendidaJuego #fondoboton:hover{
  background-color: rgba(255, 80, 100, 1);
}
#extendidaJuego{
  border: 1px solid black;
}
#extendidaJuego #botonComprar , #extendidaJuego #valoracion{
  width: 25%;
  height: 9em;
}
#extendidaJuego #botonComprar{
  margin-left: 74%;
  background-color: rgba(255, 69, 65, 1);
  background-image: url(../imagenes/textura3.png);
  margin-top: -9em;
  border-radius: 0.45em;
}
#extendidaJuego #botonComprar p{
  margin-left: 1%;
  font-size: 3em;
  text-align: center;
  color: rgba(200, 200, 200, 1);
  line-height: 1.4em;
}
#extendidaJuego #botonComprar img{
  margin-left: 1%;
  width: 20%;
  height: 5em;
  margin-top: -6em;
  float: left;
}
#extendidaJuego #valoracion{
  margin-left: 1%;
  margin-top: 0;
  height: 7em;
}
#extendidaJuego #valoracion p{
  margin-left: 1%;
  font-size: 1.7em;
  padding-top: 2em;
}
#extendidaJuego #valoracion img{
  margin-top: -20em;
  margin-left: 30%;
  width: 70%;
  height: 5em;
}
#extendidaJuego #nombreComprar{
  margin-left: 1%;
  font-size: 2em;
}
/* Estilos de los link */
a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}
#listado a:link {
    text-decoration: none;
    color: black;
}

#listado a:visited {
    text-decoration: none;
    color: black;
}
#barraestado a:link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

#barraestado a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

/* Estilos del catalogo */
#contenedor1 #catalogocentral ul{
  list-style-type: none;
  margin-top: 1em;
  overflow: scroll;
  height: 55em;
}
#contenedor1 #catalogocentral ul li{
  display: inline-block;
  width: 19.4%;
  margin-left: 0.3%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid black;
}
#catalogocentral #juego img:hover{
  -webkit-box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
  box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
}
#contenedor1 #catalogocentral{
  margin: 1%;
  border: 1px solid black;
  border-radius: 1em;

}
#contenedor1 #catalogocentral #titulo{
  overflow: visible;}
#catalogocentral #juego img{
  width: 100%;
  height: 10em;
}
/* Estilos de formulario de consultas */
#consultasform{
  border: 1px solid gray;
  border-radius: 1em;
  margin: 2em 3em 1em 3em;
}
#consultasform #comentario{
  width: 30em;
  height: 20em;
  text-align: left;
  line-height: 1em;
  margin-left: 1em;
}
#consultasform p{
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.2em;
}
#consultasform input{
  margin-left: 1em;
}
#consultasform #comentario{
  width: 90%;
  height: 10em;
}
#consultasform #enviarb{
  margin: 1em 0 1em 1em;
  color: red;
}
/* Estilos de formulario de registro */
#registroform{
  border: 1px solid gray;
  border-radius: 1em;
  margin: 2em 3em 1em 3em;
}
#registroform #comentario{
  width: 20em;
  height: 20em;
  text-align: left;
  line-height: 1em;
  margin-left: 1em;
}
#registroform p{
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.2em;
}
#registroform input{
  margin-left: 1em;
}
#registroform #enviarb{
  margin: 1em 0 1em 1em;
  color: red;
}
/* titulos de toda la pagina */
#extendidaJuego #titulo span , #registroform span , #consultasform span , #catalogocentral span{
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-size: 2em;
  background: white;
  white-space: nowrap;
  padding: 0 0.3em 0 0.3em;
  margin-left: 1em;
  margin-top: -1em;
  float: left;
  overflow: hidden;
}
/* sombras de toda la pagina */
#extendidaJuego #fotomayor , #extendidaJuego #caracteristicas , #extendidaJuego #portada ,#extendidaJuego #fotomenor img , #extendidaJuego #comprar , #masvendido #fondo img {
  -webkit-box-shadow: 3px 3px 13px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 13px 3px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 13px 3px rgba(0,0,0,0.75);
}
/* bordes de caja de toda la pagina */
#registroform , #consultasform, #contenedor1 #catalogocentral , #extendidaJuego{
  border: 1px solid gray;
  border-radius: 1em;
  margin: 2em 3em 1em 3em;
}
#contenedor1 #relleno{
  width: 45%;
  height: 5.7em;
  background-color: black;
  background-image: url(../imagenes/textura2.png);
  background-size: 70%;
  margin-top: -6em;
  margin-left: 1%;
  display: none;
}

  /*ESTILOS PARA CELULARES */
@media only screen and (max-width : 500px){
/* Estilos del catalogo */
  #contenedor1 #catalogocentral ul li{
    width: 85%;
    margin-left: 7.5%;
  }
  #catalogocentral #juego img{
    width: 100%;
    height: 15em;
  }
  #contenedor1 #catalogocentral p{
    font-size: 1.4em;
  }
/* Estilos de barra arriba */
  #barraestado{
    width: 100%;
  }
  #barraestado #login , #barraestado #twitter , #barraestado #fb , #barraestado #numero ,#barraestado #contacto{
    width: 6%;
  }
  #barraestado p{
    display: none;
  }
  #barraestado #contacto{
    margin-left: 1%;
  }
  #barraestado #numero{
    margin-left: 8.5%;
  }
  #barraestado #fb{
    margin-left: 16.5%;
  }
  #barraestado #twitter{
    margin-left: 22%;
  }
  #barraestado #login{
    margin-left: 92%;
  }
/* Estilos del cuerpo */
  #contenedor1 , #cabeza{
    width: 99%;
  }
  #cabeza #titulo h1{
    font-size: 4.8em;
    margin-top: -0.2em;
    letter-spacing: -0.01em;
  }
  #cabeza #titulo h2{
    font-size: 7.5em;
    margin-top: -0.7em;
    margin-left: 45%;
    letter-spacing: -0.01em;
  }
/* Estilos del menu */
  #menu{
    width: 100%;
    height: 5em;
    margin-bottom: 1em;
  }
  #menu #inicio , #menu #tienda , #menu #catalogo , #menu #sala , #consultas{
    width: 19.2%;
  }
  #menu #inicio p, #menu #tienda p, #menu #catalogo p, #menu #sala p , #menu #consultas p{
    text-align: center;
    padding-top: 0.4em;
    font-size: 1.5em;
  }
  #menu #inicio{
    margin-left: 0.5%;
  }
  #menu #tienda{
    margin-left: 20.3%;
  }
  #menu #catalogo{
    margin-left: 40.25%;
  }
  #menu #sala{
    margin-left: 60.2%;
  }
  #menu #consultas{
    margin-left: 80.1%;
  }
/* Estilos del buscador */
  #cabeza #buscador{
    float: right;
    margin-top: 0.5em;
    margin-right: 0.5em;
    width: 30%;
    max-width: 20em;
  }
  /* Estilos del juego mas vendido en index */
  #masvendido{
    margin-left: 1%;
    width: 98%;
    height: 25em;
  }
  #masvendido #fondo img, #masvendido #fondo{
    width: 100%;
    height: 25em;
    box-shadow: 0px 13px 21px -10px rgba(0, 0, 0, 0.5); /*sombra*/
  }
  #masvendido #fondo img{
    margin-top: -7.3em;
  }
  #masvendido #fondo #gif{
    width: 14%;
    height: 6em;
    margin-top: 1em;
    position: relative;
    z-index: 1;
    box-shadow: 0px 13px 21px -10px rgba(0, 0, 0, 0);
  }
  #masvendido #footer{
    width: 100%;
    height: 8em;
    margin-top: -8em;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #masvendido #carrito {
    width: 8%;
    height: 8em;
    margin-top: -8em;
    margin-left: 85%;
    position: relative;
    z-index: 2;
  }
  #masvendido #carrito img{
    width:4em;
    height: 3.5em;
    margin-top: 3em;
  }
  #masvendido #footer h2 , #masvendido #footer h1{
    margin-left: 1%;
    font-size: 1.7em;
    letter-spacing: 0.25em;
  }
  #masvendido #footer h2{
    margin-top: 0.6em;
    font-size: 2.2em;
    letter-spacing: normal;
  }
/* Estilos de juegos mas nuevos en index */
  #nuevos{
    width: 98%;
    margin-top: 1em;
    margin-left: 1%;
    height: 15.1em;
    overflow: scroll;
  }
  #nuevos ul li{
    width: 49.5%;
  }
  #nuevos img{
    width: 100%;
    height: 15em;
  }
  #nuevos #hover{
    height: 15em;
  }
  /*tipos de pedido */
  #pedidos{
    margin: 1%;
    height: 13.2em;
  }
  #pedidos .fisico h1 , #pedidos .online h1 , #pedidos .promos h1{
    margin-top: -4.5em;
  }
  #pedidos .fisico h2 , #pedidos .online h2 , #pedidos .promos h2{
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  }
  #pedidos .online , #pedidos .fisico , #pedidos .promos {
    width: 99%;
    padding: 0.2em;
    height: 4.3em;
    margin-bottom: 0.5em;
  }
  #pedidos .online{
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #pedidos .fisico{
    margin-left: 0;
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #pedidos .promos{
    margin-left: 0;
    margin-top: 0;
    line-height: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #pedidos li h1 {
    font-size: 1.4em;
  }
  #pedidos li h2 {
    font-size: 1em;
    font-weight: normal;
  }
  /*novedades */
  #novedadestitulo{
    margin-top: 7.2em;
  }
  /*Estilos de los juegos */
  #extendidaJuego #fotomayor{
    background: black;
    width: 98%;
    height: 27em;
    margin-top: 1em;
    margin-left: 1%;
  }
  #extendidaJuego #fotomayor video , #extendidaJuego #fotomayor img{
    width: 100%;
    height: 27em;
  }
  #extendidaJuego #caracteristicas{
    width: 49%;
    margin-top: -14.38em;
    margin-left: 50%;
    overflow: scroll;
    height: 31.66em;
    font-size: 0.9em;
  }
  #extendidaJuego #portada{
    width: 48%;
    height: 13em;
    margin-left: 1%;
    margin-top: 1em;
    margin-right: 1%;
  }
  #extendidaJuego #portada img{
    width: 100%;
    height: inherit;
  }
  #extendidaJuego #fotomenor{
    width: 48%;
    height: 15em;
    margin-top: -15em;
    margin-left: 1%;
    overflow: scroll;
    -webkit-box-shadow: 3px 1px 13px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 1px 13px 3px rgba(0,0,0,0.75);
    box-shadow: 3px 1px 13px 3px rgba(0,0,0,0.75);
  }
  #extendidaJuego #fotomenor ul{
    list-style-type: none;
  }
  #extendidaJuego #fotomenor ul li{
    width: 100%;
    height: 15em;
    margin-bottom: 0;
  }
  #extendidaJuego #fotomenor img{
    width: 100%;
    height: inherit;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  }
  #extendidaJuego #comprar{
    width: 98%;
    margin-left: 1%;
    margin-top: 1em;
    height: 10em;
  }

  #extendidaJuego #botonComprar , #extendidaJuego #valoracion{
    width: 25%;
    height: 9em;
  }
  #extendidaJuego #botonComprar{
    margin-left: 60%;
    margin-top: -6.5em;
    height: 6.5em;
    width: 39%;
  }
  #extendidaJuego #botonComprar p{
    margin-left: 15%;
    font-size: 2em;
    line-height: 1.4em;
  }
  #extendidaJuego #botonComprar img{
    margin-left: 1%;
    width: 25%;
    height: auto;
    margin-top: -3.5em;
    float: left;
  }
  #extendidaJuego #valoracion{
    margin-left: 1%;
    margin-top: 0;
    height: 7em;
  }
  #extendidaJuego #valoracion p{
    margin-left: 2%;
    font-size: 1.7em;
    padding-top: 1em;
  }
  #extendidaJuego #valoracion img{
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 3em;
  }
  #extendidaJuego #nombreComprar{
    margin-left: 1%;
    font-size: 2em;
  }
  /* bordes de caja de toda la pagina */
  #registroform , #consultasform, #contenedor1 #catalogocentral , #extendidaJuego{
    border: 1px solid gray;
    border-radius: 1em;
    margin: 2em 0.5em 1em 0.5em;
  }
}

  /*ESTILOS PARA TABLETS */
@media only screen and (min-width: 501px) and (max-width: 768px) {
  /* Estilos del cuerpo */
  #contenedor1 , #cabeza{
    width: 99%;
  }
  #cabeza #titulo h1{
    font-size: 4.8em;
    margin-top: -0.2em;
    letter-spacing: -0.01em;
  }
  #cabeza #titulo h2{
    font-size: 7.5em;
    margin-top: -0.7em;
    margin-left: 45%;
    letter-spacing: -0.01em;
  }
  /* Estilos del menu */
  #menu{
    width: 100%;
    height: 5em;
    margin-bottom: 1em;
  }
  #menu #inicio , #menu #tienda , #menu #catalogo , #menu #sala , #consultas{
    width: 19.2%;
  }
  #menu #inicio p, #menu #tienda p, #menu #catalogo p, #menu #sala p , #menu #consultas p{
    text-align: center;
    padding-top: 0.4em;
    font-size: 1.5em;
  }
  #menu #inicio{
    margin-left: 0.5%;
  }
  #menu #tienda{
    margin-left: 20.3%;
  }
  #menu #catalogo{
    margin-left: 40.25%;
  }
  #menu #sala{
    margin-left: 60.2%;
  }
  #menu #consultas{
    margin-left: 80.1%;
  }
  /* bordes de caja de toda la pagina */
  #registroform , #consultasform, #contenedor1 #catalogocentral , #extendidaJuego{
    border: 1px solid gray;
    border-radius: 1em;
    margin: 2em 0.5em 1em 0.5em;
  }
  /* Estilos del catalogo */
  #contenedor1 #catalogocentral ul li{
    width: 49%;
    margin-left: 0.4%;
  }
  #catalogocentral #juego img{
    width: 100%;
    height: 15em;
  }
  #contenedor1 #catalogocentral p{
    font-size: 1.4em;
  }
  /* Estilos de barra arriba */
  #barraestado{
    width: 100%;
  }
  #barraestado #login , #barraestado #twitter , #barraestado #fb , #barraestado #numero ,#barraestado #contacto{
    width: 4%;
  }
  #barraestado p{
    display: none;
  }
  #barraestado #contacto{
    margin-left: 1%;
  }
  #barraestado #numero{
    margin-left: 6.5%;
  }
  #barraestado #fb{
    margin-left: 11.5%;
  }
  #barraestado #twitter{
    margin-left: 15.5%;
  }
  #barraestado #login{
    margin-left: 94%;
  }
  /* Estilos de juegos index */
  #nuevos{
    overflow: scroll;
    margin-top: -32.6em;
  }
  #nuevos ul li{
    width: 49%;
  }
  /*Espacio grande con un juego*/
  #masvendido{
    margin-left: 1%;
    width: 45%;
    max-width: 58em;
    height: 32.6em;
  }
  #masvendido #fondo img, #masvendido #fondo{
    width: 100%;
    height: 26em;
  }
  #contenedor1 #relleno{
    display: block;
  }
  /* Estilos del titulo */
  #cabeza #titulo h1{
    font-size: 7em;
    margin-top: -0.3em;
  }
  #cabeza #titulo h2{
    font-size: 10em;
    margin-top: -0.7em;
    margin-left: 35%;
    margin-right: 1em;
  }
  /* Estilos del buscador */
    #cabeza #buscador{
      margin-top: -3.5em;
      margin-right: 1%;
      width: 22%;
      max-width: 20em;
    }
    #extendidaJuego #fotomenor{
      overflow: scroll;
      overflow-y: hidden;
    }
    #extendidaJuego #fotomenor ul{
      width: 150%;
    }
    #extendidaJuego #fotomenor ul li{
      width: 32.5%;
      margin-left: 0.1em;
    }
}

@media only screen and (min-width: 501px) and (max-width: 680px) {
/* Estilos de juegos index */
  #nuevos{
    overflow: scroll;
    width: 40%;
    margin-left: 59%;
    height: 26em;
  }
  #nuevos ul li{
    width: 100%;
  }
  #masvendido{
    width: 57%;
  }
  #masvendido #fondo img, #masvendido #fondo{
    width: 100%;
    height: 26em;
  }
  #contenedor1 #relleno{
    display: none;
  }
  /* Estilos del titulo */
  #cabeza #titulo h1{
    font-size: 6em;
    margin-top: -0.3em;
  }
  #cabeza #titulo h2{
    font-size: 8em;
    margin-top: -0.7em;
    margin-left: 40%;
  }
  /* Estilos del buscador */
    #cabeza #buscador{
      margin-top: -1em;
      margin-right: 0.5em;
      width: 25%;
      max-width: 20em;
    }
}
@media only screen and (min-width: 681px) and (max-width: 1023px) {
  /* Estilos de juegos index */
  #nuevos{
    overflow: scroll;
  }
  #nuevos ul li{
    width: 49%;
  }
  #masvendido #fondo img, #masvendido #fondo{
    width: 100%;
    height: 26em;
  }
  #contenedor1 #relleno{
    display: block;
  }
  #extendidaJuego #fotomenor ul li{
    width: 32.5%;
    margin-left: 0.1em;
  }
}

  /*ESTILOS PARA TABLETS2 */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos del cuerpo */
  #contenedor1 , #cabeza{
    width: 97%;
  }
  #registroform , #consultasform, #contenedor1 #catalogocentral , #extendidaJuego{
    border: 1px solid gray;
    border-radius: 1em;
    margin: 2em 0.5em 1em 0.5em;
  }
  /* Estilos del catalogo */
  #contenedor1 #catalogocentral ul li{
    width: 32%;
    margin-left: 0.4%;
  }
  #catalogocentral #juego img{
    width: 100%;
    height: 15em;
  }
  #contenedor1 #catalogocentral p{
    font-size: 1.4em;
  }
  #extendidaJuego #fotomenor{
    overflow: scroll;
    overflow-y: hidden;
  }
  #extendidaJuego #fotomenor ul{
    width: 150%;
  }
}

  /*ESTILOS PARA NETBOOKS */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  /* Estilos del cuerpo */
  #contenedor1 , #cabeza{
    width: 95%;
  }
  #registroform , #consultasform, #contenedor1 #catalogocentral , #extendidaJuego{
    border: 1px solid gray;
    border-radius: 1em;
    margin: 2em 0.7em 1em 0.7em;
  }
}
  /*ARREGLOS PARA DISTINTAS RESOLUCIONES */
@media only screen and (min-width: 1281px) and (max-width: 1600px) {
  /* Estilos del cuerpo */
  #contenedor1 , #cabeza{
    width: 93%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  #extendidaJuego #fotomenor ul li{
    width: 32.6%;
    margin-left: 0.1em;
  }
}
