  *{
  margin: 0px;
  padding: 0px;
}

html{
  font-size: 10px;
  font-family: "Fuente1" , helvetica;
}
body{
  background: url(../imagenes/textura1.png);
  background-color: rgba(220, 220, 220, 0.9);
}


/*generando fuentes*/
@font-face {
  font-family: "Fuente1";
  src: url("../fuentes/fuente1.ttf");
}
@font-face {
  font-family: "Fuente2";
  src: url("../fuentes/fuente2.ttf");
}
@font-face {
  font-family: "Fuente3";
  src: url("../fuentes/fuente3.ttf");
}
@font-face {
  font-family: "Fuente4";
  src: url("../fuentes/fuente4.ttf");
}

/*Barra de arriba de todo */
#barraestado{
  background: rgba(30, 30, 30, 0.7);
  width: 100%;
  height: 4em;
  color: rgba(255, 255, 255, 0.7);
}
#barraestado img{
  margin-top: 0.4em;
}
#barraestado h1{
  font-family: "Fuente4";
  font-size: 5em;
  margin-left: 1%;
}
#barraestado #login , #barraestado #twitter , #barraestado #fb , #barraestado #numero ,#barraestado #contacto{
  
  width: 15%;
  height: 3.5em;
  list-style: none;
}
#barraestado #login p, #barraestado #twitter p, #barraestado #fb p, #barraestado #numero p,#barraestado #contacto p{
  text-align: left;
  font-size: 1.6em;
  color: white;
  font-family: calibri,verdana;
  margin-top: -2em;
  margin-left: 17%;
}
#barraestado #login:hover, #barraestado #twitter:hover, #barraestado #fb:hover, #barraestado #numero:hover , #barraestado #contacto:hover{
  background: url(../imagenes/textura4.png);
  background-color: rgba(212, 89, 95, 0.7);
}
#barraestado #contacto{
  margin-left: 0.5%;
  margin-top: -0.5em;
}
#barraestado #numero{
  margin-top: -3.5em;
  margin-left: 16%;
}
#barraestado #fb{
  margin-top: -3.5em;
  margin-left: 31.5%;
}
#barraestado #twitter{
  margin-top: -3.5em;
  margin-left: 47%;
  width: 20%;
}
#barraestado #login{
  margin-top: -3.5em;
  margin-left: 84.5%;
  width: 15%;
}

/*Cuerpo de la pagina*/
#contenedor1{
  margin: auto;
  margin-top: 1%;
  height: auto;
  background-color: white;
  border-top-left-radius: 0.35em;
  border-top-right-radius: 0.35em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /*sombra*/
}

#contenedor1 , #cabeza{
  width: 80%;
  max-width: 130em;
  min-width: 50em;
  margin-top: 11em;
}

/*titulo */
#cabeza{
  margin: auto;
  margin-top: 0.5em;
  height: 5em;
}
#cabeza #titulo h1{
  font-size: 7.7em;
  margin-top: -0.2em;
  font-family: "fuente2" , verdana;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 0.05em;
}
#cabeza #titulo h2{
  font-size: 10em;
  margin-top: -0.9em;
  margin-left: 3.4em;
  color: rgba(255, 255, 255, 0.8);
  font-family: "fuente3" , calibri, helvetica;
}
#cabeza #buscador{
  float: right;
  margin-top: -4.2em;
  width: 15%;
  max-width: 20em;
  height: 4em;
  background-color: white;
  border-top-left-radius: 0.35em;
  border-top-right-radius: 0.35em;
}
#cabeza #buscador img{
  float: right;
  width: 25%;
  height: 4em;
  background-color: black;
  position: relative;
  border-top-right-radius: 0.35em;
}
#cabeza #buscador #input1{
  height: 4em;
  width: 73%;
  max-width: 14.5em;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding-left: 2%;
  border-top-left-radius: 0.35em;
}

/*Un espacio separador*/
#separador{
  height: 1em;
}

/*Menu */
#menu{
  width: 100%;
  height: 5em;
  background-image: url(../imagenes/textura2.png);
  background-color: black;
  margin-top: 5em;
  margin-bottom: 1em;
  border-top-left-radius: 0.35em;
  border-top-right-radius: 0.35em;
  color: white;
}
#menu #inicio , #menu #tienda , #menu #catalogo , #menu #sala , #consultas{
  background: url(../imagenes/textura4.png);
  background-color: rgba(212, 89, 95, 1);
  width: 10%;
  height: 3.5em;
  list-style: none;
}
#menu #inicio p, #menu #tienda p, #menu #catalogo p, #menu #sala p , #menu #consultas p{
  text-align: center;
  padding-top: 0.4em;
  font-size: 1.6em;
  color: white;
  font-family: calibri,verdana;
}
#menu #inicio:hover, #menu #tienda:hover, #menu #catalogo:hover, #menu #sala:hover , #menu #consultas:hover{
  background: url(../imagenes/textura4.png);
  background-color: rgba(212, 89, 95, 0.7);
}
#menu #inicio{
  margin-left: 0.9%;
  margin-top: -0.5em;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
}
#menu #tienda{
  margin-top: -3.5em;
  margin-left: 11.1%;
}
#menu #catalogo{
  margin-top: -3.5em;
  margin-left: 21.3%;
}
#menu #sala{
  margin-top: -3.5em;
  margin-left: 31.5%;
}
#menu #consultas{
  margin-top: -3.5em;
  margin-left: 41.7%;
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}
/*Espacio grande con un juego*/
#masvendido{
  margin-left: 1%;
  width: 45%;
  max-width: 58em;
  height: 33em;
}
#masvendido #portada{
  width: 100%;
  height: 32.6em;
  box-shadow: 0px 13px 21px -10px rgba(0, 0, 0, 0.5); /*sombra*/
}
#masvendido #titulo #gif{
  width: 10%;
  height: auto;
  margin-left: 1%;
  margin-top: -31em;
  float: left;
  z-index: 1000;
  position: relative;
}
#masvendido #portada:hover{
  -webkit-box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
  box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
}

#masvendido #titulo{
 margin-top: -6em;
 background: rgba(0,0,0,0.5);
 z-index: 1000;
 position:relative;
 padding-bottom: 0.6em;
}
#masvendido #titulo h1,h2,h3{
  color: white;
  margin-left: 0.5em;
}
#masvendido #titulo h3:hover{
  color: rgba(220, 0, 0, 0.9);
}
#masvendido #titulo h1{
  font-size: 2em;
  letter-spacing: 0.25em;
}
#masvendido #titulo h2{
  font-size: 1.7em;
  letter-spacing: 0.1em;
}
#masvendido #titulo h3{
  font-size: 1.5em;
  letter-spacing: 0.1em;
}
#masvendido #titulo img{
  width: 2em;
  height: auto;
}
#masvendido #titulo .titulo{
  text-align: left;
  width: 100%;
  max-width: 58em;
}
#masvendido #titulo .comprar{
  text-align: right;
  padding-left: 22em;
  width: 100%;
  max-width: 58em;
}
#masvendido #titulo .comprar , .titulo , .precio{
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  font-variant: small-caps;
}

/*tabla mas pequeña con otros juegos */
#nuevos{
  margin-top: -33em;
  margin-right: 1%;
  width: 53%;
  margin-left: 46.4%;
  height: 33em;
  background: rgba(255, 25, 63, 0);

}
#nuevos ul{
  list-style-type: none;
}
#nuevos ul li{
  display: inline-block;
  width: 32.6%;
  border-bottom: 1px solid black;
  background: blue;
  max-height: 33em;
  margin-bottom: 0.4em;
}
#nuevos img{
  width: 100%;
  height: 16em;
}
#nuevos #hover{
  height: 16em;
}
#nuevos #gif{
  width: 15%;
  height: 1.5em;
  float: left;
  z-index: 1000;
  position: relative;
  margin-top: -14em;
  margin-left: 1%;
}
#nuevos p{
  color: white;
  font-size: 1.3em;
  font-weight: normal;
  font-variant: small-caps;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  text-align: right;
  margin-right: 2%;
  margin-top: -2em;
}
#nuevos p:hover{
  color: rgba(220, 0, 0, 0.9);
}

#nuevos #hover:hover{
  -webkit-box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
  box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
}

/*tipos de pedido */
#pedidos{
  margin: 1%;
  height: 13.2em;
}
#pedidos .fisico h1 , #pedidos .online h1 , #pedidos .promos h1{
  margin-left: 1%;
  margin-top: -2em;
}
#pedidos .online:hover , #pedidos .fisico:hover , #pedidos .promos:hover{
  border: 0.2em solid rgba(255, 0, 0, 0.6);
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-left: 0;
  padding-right: 0;
}
#pedidos .online , #pedidos .fisico , #pedidos .promos {
  width: 32%;
  background-image: url(../imagenes/textura3.png);
  background-color: black;
  border-radius: 0.5em;
  padding: 0.2em;
  color: white;
}
#pedidos .online{
  height: 9em;
  list-style-image: url(../imagenes/online.png);
  padding-top: 1em;
  padding-bottom: 1em;
  line-height: 2.5em;
}
#pedidos .fisico{
  height: 9em;
  margin-left: 33.8%;
  margin-top: -11em;
  list-style-image: url(../imagenes/envio.png);
  line-height: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
#pedidos .promos{
  height: 9em;
  margin-left: 67.6%;
  margin-top: -11em;
  list-style-image: url(../imagenes/promos.png);
  line-height: 2.5em;
  padding-top: 1em;
  padding-bottom: 1em;
}
#pedidos ul{
  text-align: center;
  list-style-position: inside;
}
#pedidos li{
  color: white;
}
#pedidos li h1 {
  font-size: 1.6em;
}
#pedidos li h2 {
  font-size: 1.3em;
  font-weight: normal;
}

/*novedades */
#novedadestitulo{
  width: 97.8%;
  max-width: 128em;
  margin-left: 1%;
  margin-top: -2em;
  height: 4em;
  background-image: url(../imagenes/textura2.png);
  background-color: black;
}
#novedadestitulo h1{
  color: white;
  line-height: 2.5em;
  padding-left: 1em;
  font-size: 1.5em;
}
#novedadescajon{
  width: 97.8%;
  max-width: 128em;
  margin-left: 1%;
  margin-top: 0.5em;
  max-height: 35em;
  background-color: rgba(200, 200, 200, 1);
  overflow:scroll;
}
#novedadescajon p{
  padding: 1%;
  font-size: 1.1em;
  letter-spacing: 0.2em;
  line-height: 2em;
}

/* Mi nombre abajo de todo */
#marca{
  text-align: center;
  color: white;
  font-weight: normal;
  font-variant: small-caps;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
  margin-bottom: 1em;
}

/* Pagina extendida de juego */
#extendidaJuego #titulo{
  width: 98%;
  max-width: 128em;
  margin-left: 1%;
  margin-top: 1em;
  height: 4em;
}
#extendidaJuego #titulo h1{
  color: white;
  line-height: 2em;
  font-size: 2em;
  color: black;
}
#extendidaJuego #fotomayor{
  background: black;
  width: 65%;
  height: 40em;
  margin-top: 1em;
  margin-left: 1%;
}
#extendidaJuego #fotomayor video{
  width: 100%;
  height: 40em;
}
#extendidaJuego #fotomayor img{
  width: 100%;
  height: 40em;
}
#extendidaJuego #caracteristicas{
  background-color: rgba(200, 200, 200, 1);
  width: 30%;
  height: 37em;
  margin-top: -19em;
  margin-left: 69%;
  overflow: hidden;
}
#extendidaJuego #caracteristicas table{
  font-family: calibri , verdana;
  font-size: 1.5em;
  text-align: left;
  margin: 2% 5% 0 5%;
  line-height: 1.6em;
  border-collapse:separate;
  border-spacing:0.1em;
}
#extendidaJuego #portada{
  width: 30%;
  height: 20em;
  margin-left: 5%;
  margin-top: -40em;
  margin-right: 1%;
  float: right;

}
#extendidaJuego #fotomenor{
  width: 65%;
  height: 17em;
  margin-top: -17em;
  margin-left: 1%;
}
#extendidaJuego #fotomenor #img1 , #extendidaJuego #fotomenor #img2 , #extendidaJuego #fotomenor #img3{
  width: 100%;
  height: 17em;
  margin-top: -0.15em;
  z-index: 100;
}
#extendidaJuego #fotomenor #img1{
  margin-left: -0.3em;
}
#extendidaJuego #fotomenor #img3{
  margin-right: -0.4em;
}
#extendidaJuego #comprar{
  width: 98%;
  max-width: 128em;
  margin-left: 1%;
  margin-top: 1em;
  height: 10em;
  background-color: rgba(200, 200, 200, 1);
}
#extendidaJuego #comprar #estrellas{
  width: 30%;
  height: 3.5em;
  margin-left: -70%;
  float : left;
}
#extendidaJuego #comprar  th ,#extendidaJuego #comprar td{
  width: 50%;
  height: 4em;
}
#extendidaJuego #comprar #carro{
  width: 5em;
  height: auto;
  margin-left: -10%;
  float: left;
  position: relative;
  z-index: 1000;
}
#extendidaJuego #comprar h2 , #comprar h1{
  color: black;
  font-size: 1.7em;
  font-weight: normal;
  font-variant: small-caps;
  letter-spacing: 0.3em;
  word-spacing: 0.5em;
  text-align: left;
  margin-top: 0.3em;
}
#extendidaJuego #comprar #asd2{
  text-align: right;
  margin-right: 2%;
  font-size: 2em;
}
#extendidaJuego #comprar #asd1{
  margin-left: -80%;
}
#extendidaJuego #comprar #asd1 , #extendidaJuego #comprar #asd2{
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
#extendidaJuego #comprar h1{
  font-size: 3em;
}
#extendidaJuego #comprar #nombre{
  width: 50%;
}
#extendidaJuego #fondoboton{
  background-image: url(../imagenes/textura3.png);
  background-color: rgba(255, 0, 0, 0.7);
  width: 23%;
  max-width: 80em;
  height: 9em;
  margin-top: -9.5em;
  border-radius: 2em;
  margin-left: 71.5%;
}
#extendidaJuego #fondoboton:hover{
  background-color: rgba(255, 80, 100, 1);
}

/* Estilos de los link */
a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}
#listado a:link {
    text-decoration: none;
    color: black;
}

#listado a:visited {
    text-decoration: none;
    color: black;
}
#barraestado a:link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

#barraestado a:visited {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

/* Estilos del catalogo */
#contenedor1 #catalogocentral ul{
  list-style-type: none;
}
#contenedor1 #catalogocentral ul li{
  display: inline-block;
  width: 19.4%;
  margin-left: 0.3%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid black;
}
#catalogocentral #juego img:hover{
  -webkit-box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
  box-shadow: 0px 1px 15px 1px rgba(0,0,0,1);
}
#contenedor1 #tituloCatalogo{
  width: 98%;
  max-width: 128em;
  margin-left: 1%;
  margin-top: 1em;
  height: 4em;
}
#contenedor1 #catalogocentral{
  margin: 1%;
  border: 1px solid black;
  border-radius: 0.5em;
}
#catalogocentral #juego img{
  width: 100%;
  height: 10em;
}
@media screen and (max-width : 600px) and (min-width : 500px){
  #contenedor1 #catalogocentral ul li{
    width: 30%;
  }
}
@media screen and (max-width : 499px){
  #contenedor1 #catalogocentral ul li{
    width: 85%;
    margin-left: 7.5%;
  }
  #catalogocentral #juego img{
    width: 100%;
    height: 15em;
  }
  #contenedor1 #catalogocentral p{
    font-size: 1.4em;
  }
  #contenedor1 , #cabeza{
    width: 470px;
    max-width: 470px;
    min-width: 470px;
  }
  #cabeza #titulo h1{
    font-size: 5em;
    margin-top: -0.2em;
    letter-spacing: 0.05em;
  }
  #cabeza #titulo h2{
    font-size: 8.8em;
    margin-top: -0.9em;
    margin-left: 2.5em;
  }
  #menu{
    width: 100%;
    height: 5em;
    margin-top: 5em;
    margin-bottom: 1em;
  }
  #menu #inicio , #menu #tienda , #menu #catalogo , #menu #sala , #consultas{
    width: 19.2%;
  }
  #menu #inicio p, #menu #tienda p, #menu #catalogo p, #menu #sala p , #menu #consultas p{
    text-align: center;
    padding-top: 0.2em;
    font-size: 2em;
  }
  #menu #inicio{
    margin-left: 0.5%;
  }
  #menu #tienda{
    margin-left: 20.3%;
  }
  #menu #catalogo{
    margin-left: 40.25%;
  }
  #menu #sala{
    margin-left: 60.2%;
  }
  #menu #consultas{
    margin-left: 80.1%;
  }
  #cabeza #buscador{
    float: right;
    margin-top: 1em;
    margin-right: 0.5em;
    width: 30%;
    max-width: 20em;
  }
}
/* Estilos de formulario de consultas */
#consultasform{
  border: 1px solid gray;
  border-radius: 1em;
  margin: 2em 3em 1em 3em;
}
#consultasform #comentario{
  width: 30em;
  height: 20em;
  text-align: left;
  line-height: 1em;
  margin-left: 1em;
}
#consultasform h1{
  margin-left: 1em;
  margin-top: -0.7em;
  background: white;
  width: 17%;
  text-align: center;
}
#consultasform p{
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.2em;
}
#consultasform input{
  margin-left: 1em;
}
#consultasform #enviarb{
  margin: 1em 0 1em 1em;
  color: red;
}
/* Estilos de formulario de registro */
#registroform{
  border: 1px solid gray;
  border-radius: 1em;
  margin: 2em 3em 1em 3em;
}
#registroform #comentario{
  width: 20em;
  height: 20em;
  text-align: left;
  line-height: 1em;
  margin-left: 1em;
}
#registroform h1{
  margin-left: 1em;
  margin-top: -0.7em;
  background: white;
  width: 8%;
  text-align: center;
}
#registroform p{
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.2em;
}
#registroform input{
  margin-left: 1em;
}
#registroform #enviarb{
  margin: 1em 0 1em 1em;
  color: red;
}
